@import url('http://fonts.cdnfonts.com/css/roboto');

html,
body {
    cursor: url(../image/mouse-f1.png), auto
}

a:hover {
    cursor: url(../image/mouse-f2.png), auto
}

.wrapper {
    background-image: linear-gradient(-20deg, #e0c3fc 0%, #fff0f3 100%);
    position:fixed;
    bottom:0;
    right:0;
    top:0;
    left:0;
}

#main {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 100vh;
}

#start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: -65px;
}

.square {
    width: 30px;
    height: 30px;
    font-size: 9px;
    border-right: #000 1px solid;
    border-left: #000 1px solid;
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    background-color: #FFF;
    background-repeat: round;
    overflow: hidden;
    opacity: 0.65;
    cursor: pointer;
}

button{background:#55579e;border:none;position:relative;transition:800ms ease all;outline:none;font:500 16px "Roboto",sans-serif;text-transform:uppercase;}
button span{color:#fff!important;padding:.5em 3em;display:block}
button:hover span{color:#55579e!important;text-decoration:none!important}
button:hover{background:transparent}
button:before,button:after{content:'';position:absolute;top:0;right:0;height:2px;width:0;background:#55579e;transition:900ms ease all}
button:after{right:inherit;top:inherit;left:0;bottom:0}
button:hover:before,button:hover:after{width:100%;transition:800ms ease all}