/*----------------------------------*/
/* Name: Code.pro.vn                */
/* Admin: Lê Anh Đức                */
/* Phone: 0386 897 757              */
/* Gmail: leanhduc.pro.vn@gmail.com */
/* Website: https://code.pro.vn     */
/*----------------------------------*/

/* Trỏ chuột */
html,body {cursor:url("https://file.leanhduc.pro.vn/image/mouse_f1.png"),auto;}
a:hover {cursor:url("https://file.leanhduc.pro.vn/image/mouse_f2.png"),auto;}

/* Thông báo */
#thbao {padding: 0 0 10px 0;/*border-bottom: 1px solid #e6dac3;*/}
#thbao-margin {margin: 0 auto;}
.thbao-container {width: auto;border: 1px dashed #f2b768;border-radius: 8px;padding: 4px;font-size: 90%;}
.thbao-header {background: #ff6734;color: white;border: 0 solid #ffa789;border-radius: 8px 0 0 8px;padding: 5px 10px;white-space: nowrap;}
.thbao-body {background: #fae9c8;padding: 5px 10px;border-radius: 0 8px 8px 0;width: auto;}
.thbao-close {float: right;margin-right: -5px;}

/* Rung rinh */
.rung {animation: rung-lac 2s ease infinite;}
@-webkit-keyframes rung-lac {0% {-webkit-transform: rotate(0) scale(1) skew(1deg);}
10% {-webkit-transform: rotate(-25deg) scale(1) skew(1deg);}
20% {-webkit-transform: rotate(25deg) scale(1) skew(1deg);}
30% {-webkit-transform: rotate(-25deg) scale(1) skew(1deg);}
40% {-webkit-transform: rotate(25deg) scale(1) skew(1deg);}
50% {-webkit-transform: rotate(0) scale(1) skew(1deg);}
100% {-webkit-transform: rotate(0) scale(1) skew(1deg);}}

/* Tuyên bố bản quyền */
.dmca-sample{font-size:12px;color:rgba(254,254,254,.6);border-radius:3px;overflow:hidden} 
.dmca-sample:before{content:'DMCA';padding:5px 10px;background-color:#2a2a2a;border-radius: 3px 0 0 3px} 
.dmca-sample:after{content:'Protected';color:#202442;padding:5px 10px;background-color:#c5c5c5;border-radius: 0 3px 3px 0}

/* Liên kết bạn bè */
#blogFriends::-webkit-scrollbar{width:5px}
#blogFriends::-webkit-scrollbar-thumb{background:#484848;border-radius:100px}
#blogFriends::-webkit-scrollbar-thumb:active{background:#777}
#blogFriends{padding:0;margin:0;list-style:none;max-height:310px;overflow:auto}
.blogFriends{margin:0;padding:0}
.blogFriends li{margin:0;padding:0;line-height:normal;display:block;float:left;text-align:center;width:50%}
.blogFriends a{text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; margin: 0 8px 8px 0; padding: 7px 15px; font: 400 13px 'Noto Sans', sans-serif; -webkit-transition: .3s; letter-spacing: -.35px; -moz-transition: .3s; -o-transition: .3s; color: inherit; border: 1px solid rgb(230,230,230);border-radius: 2px}
.blogFriends a:hover{border-color: var(--link-bg);}

/* Bình luận gần đây */
ul.idbcomments{list-style:none;margin:0;padding:0}
.idbcomments li{margin:15px 0 0;padding:5px 0 5px 5px;display:block;clear:both;overflow:hidden;list-style:none;border: 1px solid #eee;border-radius: 5px;}
/*.idbcomments li{display:block;clear:both;overflow:hidden;list-style:none;border-bottom:0!important;word-break:break-all;padding:8px 0!important}*/
.idbcomments li .avatarImage{float:left;margin-right:10px;position:relative;overflow:hidden}
.idbcomments li img{border-radius:100%;position:relative;overflow:hidden;display:block;width:42px;height:42px}
.idbcomments li a{font-weight:600;color:var(--body-color)}
.idbcomments a{color:var(--body-color)}
.idbcomments li span{margin-top:2px;color:#666;display:block;font-size:12px;line-height:1.4}
.darkMode .idbcomments li a{font-weight:600;color:var(--header-bg)}
.darkMode .idbcomments a{color:var(--content-border)}
.darkMode .idbcomments li span{margin-top:2px;color:var(--content-border);display:block;font-size:12px;line-height:1.4}
.idbcomments .left {float:left;padding:10px 0 0 0;}
.idbcomments .right {float:right;padding:10px 0 0 0;}

