.loader {
    background: #ffffff;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap {
    animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
}
.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}
@keyframes spin {
    0%,
    15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* MAIN CSS */
* {
    font-family: "Roboto Condensed";
    padding: 0;
    margin: 0;
}
.border {
    position: relative;
    width: 50%;
    height: 2px;
    background-color: rgb(138, 138, 138);
}
#boxs {
    margin-top: 0px;
}
#alert {
    position: fixed;
    top: 20px;
    z-index: 9;
    width: 300px;
    height: 75px;
    background: #66ff52;
    /* background: linear-gradient(127deg, rgba(120,255,102,0.8155637254901961) 0%, rgba(0,176,41,1) 100%); */
    font-family: "Roboto Condensed";
    font-weight: bold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* left: -310px; */
    display: none;
}
#alert p {
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    font-family: "Roboto Condensed";
}
#bg {
    position: fixed;
    min-height: 100vh;
    min-width: 100%;
    /* background: rgb(255,145,144);
    background: linear-gradient(127deg, rgba(255,145,144,1) 0%, rgba(253,192,148,1) 100%); */
    background-image: url("https://1.bp.blogspot.com/-aXmEGd2grPk/YOseuCvKS6I/AAAAAAAAYqM/sbjIBu8dD-o5VNE8-gfRL9ePu3AzTrFKwCLcBGAsYHQ/s16000/Gearvn_h%25C3%25ADnh%2Bn%25E1%25BB%2581n%2Bt%25E1%25BB%2591i%2Bgi%25E1%25BA%25A3n_%2B%252826%2529.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    /* filter: blur(13px); */
}
#window {
    position: absolute;
    min-height: 98%;
    min-width: 98%;
    /* background: rgb(255,145,144);
    background: linear-gradient(127deg, rgba(255,145,144,1) 0%, rgba(253,192,148,1) 100%); */
    background-color: #00000000;
    /* margin-left: 2%; */
    padding: 0;
    top: 0;
    left: 0;
}
#main {
    z-index: 2;
    position: relative;
    width: 450px;
    /* height: 80vh; */
    padding-bottom: 5px;
    background-color: #ffffffa4;
    border-radius: 25px;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.74);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.74);
}
#cover {
    /* margin: 0 auto; */
    position: relative;
    /* top: 5px; */
    /* display: block; */
    height: 35%;
    /* width: 95%; */
    /* background-image: url('https://i.gifer.com/TPPX.gif'); */
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* border-radius: 25px; */
    padding-top: 30px;
    padding-bottom: 30px;
}
#bg-cover {
    position: absolute;
    /* top: 5px; */
    /*display: block;*/
    height: 100%;
    width: 100%;
    background-image: url("https://i.gifer.com/TPPX.gif");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    filter: opacity(0.6);
}
#avatar {
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border: 5px solid #1877f2;
    /* margin: 0 auto; */
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.74);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.74);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}
#name {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
}
#name i {
    color: #2d88ff;
    font-size: 18px;
}
#bio {
    text-align: center;
    /* font-weight: bold; */
    /* font-size: 25px; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto Condensed";
    font-size: 16px;
}
#contact-text {
    display: inline-block;
    padding: 2px 15px;
    border-radius: 15px;
    margin-top: 10px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /* color: #000000; */
    /* background-color:#2D88FF ; */
    color: #ffffff;
    background: rgb(45, 136, 255);
    background: rgb(45, 136, 255);
    background: -moz-linear-gradient(127deg, rgba(45, 136, 255, 1) 0%, rgba(131, 186, 255, 1) 100%);
    background: -webkit-linear-gradient(127deg, rgba(45, 136, 255, 1) 0%, rgba(131, 186, 255, 1) 100%);
    background: linear-gradient(127deg, rgba(45, 136, 255, 1) 0%, rgba(131, 186, 255, 1) 100%);
    /* /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d88ff",endColorstr="#83baff",GradientType=1); */
    font-family: "Roboto Condensed";
    transition: all 250ms;
    /* -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.74);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.74); */
    cursor: default;
}
#contact-text:hover {
    transform: scale(1.2);
    padding: 2px 55px;
}
.box {
    height: 50px;
    width: 75%;
    margin: 5px auto;
    /* background-color: blue; */
    border-radius: 20px;
    background: rgb(42, 100, 173);
    background: -moz-linear-gradient(127deg, rgba(42, 100, 173, 1) 0%, rgba(45, 136, 255, 1) 100%);
    background: -webkit-linear-gradient(127deg, rgba(42, 100, 173, 1) 0%, rgba(45, 136, 255, 1) 100%);
    background: linear-gradient(127deg, rgba(42, 100, 173, 1) 0%, rgba(45, 136, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a64ad",endColorstr="#2d88ff",GradientType=1);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.74);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.74);
    z-index: 1;
    transition: all 250ms;
}
.box:hover {
    padding-right: 20px;
}
.icon {
    display: inline;
    position: relative;
    height: 50px;
    width: 50px;
}
.icon i {
    font-size: 30px;
    margin: 10px 20px;
    color: #ffffff;
    transition: transform 250ms;
    z-index: 2;
}
.icon i:hover {
    transform: rotate(360deg);
}
.detail {
    /* display: inline; */
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    transition: all 500ms;
    /* width: 100%; */
    font-family: "Roboto Condensed";
}
.col-10 {
    position: relative;
    max-height: 100%;
}
.col-10:hover .detail {
    /* display: none; */
    /* margin-left: 500px; */
    filter: opacity(0);
    z-index: -5;
    /* left: 100px; */
}
.col-10:hover .linked {
    /* display: none; */
    /* margin-left: 500px; */
    filter: opacity(1);
    z-index: 5;
    /* left: 100px; */
}
.col-10:active .detail {
    /* display: none; */
    /* margin-left: 500px; */
    filter: opacity(0);
    z-index: -5;
    /* left: 100px; */
}
.col-10:active .linked {
    /* display: none; */
    /* margin-left: 500px; */
    filter: opacity(1);
    z-index: 5;
    /* left: 100px; */
}
.fas {
    transition: all 250ms;
}
.col-10:hover .fas {
    /* display: none; */
    /* margin-left: 500px; */
    transform: rotate(360deg);
    /* left: 100px; */
}
.linked {
    position: relative;
    /* margin: 0 auto; */
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    transition: all 500ms;
    top: -40px;
    z-index: -2;
    filter: opacity(0);
    transition: all 1000ms;
    font-family: "Roboto Condensed";
}
.div-logo {
    position: relative;
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    margin: 10px 20px;
    z-index: 5;
    transition: all 250ms;
}
.div-logo:hover {
    transform: rotate(360deg);
}
/* RESPONDSIVE */
/* =========================================== */
@media only screen and (max-width: 540px) {
    #main {
        width: 100vw;
        margin-top: 0vw;
        margin-bottom: 0;
        border-radius: 0;
        /* margin-bottom: 2vw; */
        /* margin-left: 2%; */
    }
    #bg-cover {
        border-radius: 0;
    }
    #window {
        min-height: 100%;
        min-width: 100%;
    }
    .linked {
        font-size: 19px;
    }
}
