.star {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 20
}

.contentz {
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1
}