html,
body {
    cursor: url("./image/mouse-f1.png"), auto;
}

a:hover {
    cursor: url("./image/mouse-f2.png"), auto;
}

a {
    text-decoration: none;
}

lable {
    font-weight: 600;
}

button {
    margin-bottom: 10px;
}

h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 10px 0;
    padding: 10px 0 0;
    background: linear-gradient(180deg, #2b95ff, #1089ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

table {
    min-width: 100%;
    margin: 0 auto;
    border: 0;
    overflow: hidden;
    font-size: 14px;
    word-break: normal
}

table th {
    padding: 17px 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0
}

table th:last-child {
    border-radius: 0 5px 0 0
}

table th:first-child {
    border-left-width: 1px;
    border-radius: 6px 0 0
}

table td:first-child {
    border-left-width: 1px
}

table td {
    padding: 20px 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0;
    border-top: 0;
    vertical-align: middle
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 5px
}

table tr:last-child td:last-child {
    border-radius: 0 0 5px 0
}

table tr:nth-child(2n+1) td {
    background-color: rgba(0, 0, 0, .01)
}

.table {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth
}

.anhduc-wrap {
    margin: 0;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    text-align: center;
    margin-bottom: 10px;
}