#blogFriends::-webkit-scrollbar {
    width: 5px
}

#blogFriends::-webkit-scrollbar-thumb {
    background: #484848;
    border-radius: 100px
}

#blogFriends::-webkit-scrollbar-thumb:active {
    background: #777
}

#blogFriends {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 500px;
    overflow: auto;
    display: block
}

.blogFriends {
    margin: 0;
    padding: 0
}

.blogFriends li {
    margin: 0;
    padding: 0;
    line-height: normal;
    display: block;
    float: left;
    text-align: left;
    width: 50%
}

.blogFriends a {
    margin: 0 8px 8px 0;
    font: 400 13px 'Noto Sans', sans-serif;
    color: inherit;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px
}

.blogFriends a:hover {
    border-color: rgb(62, 184, 68);
}

.codepro-quydinhFriends {
    margin: 0;
    padding: 0;
    line-height: normal;
    display: block;
    float: left;
    background-color: #f8f9fa;
    font-size: 15px;
    margin-top: -1px;
    margin: 0 8px 8px 0;
    padding: 7px 15px;
    border-radius: 3px
}

.darkMode .codepro-quydinhFriends {
    margin: 0;
    padding: 0;
    line-height: normal;
    display: block;
    float: left;
    background-color: #353535;
    font-size: 15px;
    margin-top: -1px;
    padding: 7px 15px;
    margin: 0 8px 8px 0;
    border-radius: 3px
}

.darkMode .codepro-quydinhFriends a {
    color: #fff;
}